<h1>Create a New Room</h1>
<%= form_for (Room.new) do |f| %>
	<%= f.label :roomnum %>
	<%= f.number_field :roomnum %><br>

	<%= f.label :bedrooms %>
	<%= f.number_field :bedrooms %><br>

	<%= f.label :bathrooms %>
	<%= f.number_field :bathrooms %><br>

	<%= f.label :size %>
	<%= f.number_field :size %><br>

	<%= f.label :capacity %>
	<%= f.number_field :capacity %><br>

	<%= f.label :cost %>
	<%= f.number_field :cost %><br>

	<%= f.submit %>
<% end %>
